.header {
    height: 100vh;
    background: url('../images/header-bg.jpg') center center/cover no-repeat;
    &__nav {
        display: flex;
        justify-content: space-between;
        padding-top: 80px;
        &-link a {
            cursor: pointer;
            position: relative;
            font-weight: 500;
            font-size: 24px;
            line-height: 36px;
            color: #fff;
            animation: move 1s ease-in-out;
        }
        &-link a::after {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            width: 0;
            height: 3px;
            background-color: #fff;
            opacity: .5;
            transition: width 0.3s ease-out;
            border-radius: 2px;
        }
        &-link a:hover:after,
        &-link a:focus:after {
            width: 100%;
        }
    }
    &__title {
        margin-top: 100px;
        animation: move 1.5s ease-in-out;
        &-text p {
            margin: 0 auto;
            max-width: 750px;
            text-align: center;
            font-size: 24px;
            line-height: 36px;
            text-align: center;
            color: #FFFFFF;
            font-weight: 400;
            opacity: .5;
            animation: move 1s ease-in-out;
        }
    }
    &__btn {
        width: 191px;
        height: 60px;
        color: #fff;
        padding: 16px 28px;
        background: rgba(187, 187, 187, 0.2);
        box-shadow: 0 0 8px #363636;
        backdrop-filter: blur(3px);
        transition: all 130ms ease-in-out;
        border-radius: 8px;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        cursor: pointer;
        display: block;
        margin: 0 auto;
        margin-top: 370px;
        outline: 0;
        animation: move .5s ease-in-out;
        &:hover {
            box-shadow: 0 0 5px 0 #bfbfbf inset, 0 0 5px 4px #bfbfbf;
        }
        &:active {
            background: rgba(187, 187, 187, 0.4);
            padding: 18px 28px;
        }
    }
}

.arton {
    display: flex;
    justify-content: center;
    &__icon {
        padding-top: 6px;
    }
}

.gallery {
    background: rgb(149, 149, 149);
    background: url('../images/gallery-bg.jpg') center center/cover no-repeat;
    padding: 126px 132px;
    &__items {
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
    }
    &__card {
        width: 320px;
        height: 586px;
        background: rgba(88, 88, 88, 0.4);
        padding: 24px 30px;
        box-shadow: 0 0 4px rgb(54 54 54);
        backdrop-filter: blur(3px);
        &-img img {
            width: 100%;
            transition-duration: .275s;
            &:hover {
                transform: scale(1.025);
            }
        }
        &-title {
            font-weight: 500;
            font-size: 32px;
            line-height: 48px;
            margin-top: 16px;
        }
        &-description {
            font-weight: 300;
            font-size: 17px;
            line-height: 24px;
            opacity: .8;
        }
        &-btn {
            margin-top: 34px;
            margin-left: auto;
            box-shadow: 0 0 40px 40px #4e4e4e73 inset, 0 0 0 0 #4e4e4e73;
            -webkit-transition: all 150ms ease-in-out;
            transition: all 130ms ease-in-out;
            cursor: pointer;
            text-align: center;
            width: 100px;
            height: 39px;
            background: #38383873;
            border: 1px solid #21212173;
            border-radius: 8px;
            padding: 6px 17px;
            font-weight: 500;
            font-size: 11px;
            line-height: 28px;
            &:hover {
                box-shadow: 0 0 10px 0 #21212173 inset, 0 0 10px 4px #21212173;
                background: #21212173;
            }
            &:active {
                background: #21212173;
                padding: 8px 19px;
            }
        }
    }
}

.about {
    padding: 125px 125px;
    height: 100vh;
    background: url('../images/about-bg.jpg') center center/cover no-repeat;
    &__title {
        text-align: center;
    }
    &__text {
        padding-top: 60px;
        font-weight: 275;
        font-size: 32px;
        line-height: 48px;
        opacity: .7;
    }
}


/* Animations */

@keyframes move {
    0% {
        opacity: 0;
        transform: translateY(-400px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes rotate {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}